@import "tailwindcss";

/* Đưa scrollbar sang trái cho toàn bộ trang */
html {
  direction: rtl;
  unicode-bidi: bidi-override;
  overflow-y: scroll;
}

body {
  direction: ltr; /* Nội dung vẫn hiển thị bình thường từ trái sang phải */
}